################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/templates/Dy.Template.Task/bin/Debug/net5.0
/templates/Dy.Template.Task/obj
/templates/.vs/Dy.Template
/templates/Dy.Template.Test/bin/Debug/netcoreapp3.1
/templates/Dy.Template.Test/obj
/templates/Dy.Template.WebAPI/bin/Debug/net5.0
/templates/Dy.Template.WebAPI/obj
